coverage==4.3.4
Flask==0.12.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
psycopg2==2.7.1
python-env==1.0.0
validators==0.11.3
voluptuous==0.10.5
Flask-WTF==0.14.2
